.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 30px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 30px;
    
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
  margin-top:-300px;
  margin-left: 250px;
  
    
 
}
.sub-content { display:inline-block;
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-right: 20x;
    margin-left: 18px;
    padding: 3px;
}

